* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins';
  margin: 20px;
  padding: 0;
}

.square {
  cursor: pointer;
  width: 35px;
  height: 35px;
  border: 1px solid black;
  border-radius: 1px;
  font-weight: bold;
  font-size: 1.2rem;
}

.papan {
  display: flex;
  flex-wrap: wrap;
  width: 105px;
  height: 105px;
}

.status {
  margin-bottom: 8px;
}


.game {
  display: flex;
}